h1{color:rgb(237, 12, 12);
text-align:center;}
hr {
    border:none;
    border-top: 2px solid rgb(13, 13, 13);
}

img{
    width: 30%;
    height: 300px;
    margin: 10px;
}
.c1{
    border: 2px solid green;
}
.c2{border: 3px solid rgb(138, 208, 33);}